apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-hello
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-hello
  template:
    metadata:
      labels:
        app: nginx-hello
    spec:
      containers:
        - name: nginx
          image: nginx:alpine
          ports:
            - containerPort: 80
          volumeMounts:
            - name: html
              mountPath: /usr/share/nginx/html
      volumes:
        - name: html
          configMap:
            name: nginx-html
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-html
data:
  index.html: |
    <h1>Hello World</h1>
    <p>Deployed automatically using a Git pipeline!</p>
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-hello
spec:
  type: NodePort
  selector:
    app: nginx-hello
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30007
